<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<label> Reward Per Dollar Spent: </label>
  <input type="number" id="reward_value" name="reward_per_dollar" min="1" max="100" pattern="[0-9]*"/>
<button id="saveRewardPerDollar" class="reward-button"> Save </button>

  <i style="font-size:24px" class="fa tooltip">&#xf05a;
    <span class="tooltiptext">Default value for Reward per Dollar spent is 1 </span>
  </i>

<hr>

<% if @customers.present? %>
  <%= will_paginate @customers %>
  <table style="width:50%" class="centered">
    <tr>
      <th>Name</th>
      <th>Email</th> 
      <th>Points Balance</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.balance_points.round(2) %></td>
      </tr>
    <% end %>
  </table>  
<% else %>
  <p>You do not have any customers in in this app.</p>
<% end %>

<!-- 
  <div id="snackbar"> Successfully Updated </div>
 -->