<div style="margin:0">
    <table class="m_-6300881820002520668body" style="height:100%!important;width:100%!important;border-spacing:0;border-collapse:collapse">
      <tbody><tr>
        <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
          <table class="m_-6300881820002520668header m_-6300881820002520668row" style="width:100%;border-spacing:0;border-collapse:collapse;margin:40px 0 20px">
  <tbody><tr>
    <td class="m_-6300881820002520668header__cell" style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
      <center>

        <table class="m_-6300881820002520668container" style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

              <table class="m_-6300881820002520668row" style="width:100%;border-spacing:0;border-collapse:collapse">
                <tbody><tr>
                  <td class="m_-6300881820002520668shop-name__cell" style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
                      <h1 class="m_-6300881820002520668shop-name__text" style="font-weight:normal;font-size:30px;color:#333;margin:0">
                        <a href="https://dev-store-ban.myshopify.com" style="font-size:30px;color:#333;text-decoration:none" target="_blank" >dev Store Ban</a>
                      </h1>
                </tr>
              </tbody></table>

            </td>
          </tr>
        </tbody></table>

      </center>
    </td>
  </tr>
</tbody></table>

          <table class="m_-6300881820002520668row m_-6300881820002520668content" style="width:100%;border-spacing:0;border-collapse:collapse">
  <tbody><tr>
    <td class="m_-6300881820002520668content__cell" style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px">
      <center>
        <table class="m_-6300881820002520668container" style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              
            <h2 style="font-weight:normal;font-size:24px;margin:0 0 10px">Thank you for your purchase! </h2>
            <p style="color:#777;line-height:150%;font-size:16px;margin:0">
  
    Hi <%= @customer.full_name%>, 
    </br>
    </br>
    You earned <%=@customer.previous_order_points.round(2)%> points on your last order. You now have balance of <%= @customer.balance_points.round(2)%> points
  
</p>
            
              <table class="m_-6300881820002520668row m_-6300881820002520668actions" style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px">
  <tbody><tr>
    <td class="m_-6300881820002520668actions__cell" style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
      <table class="m_-6300881820002520668button m_-6300881820002520668main-action-cell" style="border-spacing:0;border-collapse:collapse;float:left;margin-right:15px">
        <tbody><tr>
        </tr>
      </tbody></table>
      
    <table class="m_-6300881820002520668link m_-6300881820002520668secondary-action-cell" style="border-spacing:0;border-collapse:collapse;margin-top:19px">
      <tbody><tr>
        <td class="m_-6300881820002520668link__cell" style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif"> <a href="https://dev-store-ban.myshopify.com" style="font-size:16px;text-decoration:none;color:#1990c6" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://dev-store-ban.myshopify.com&amp;source=gmail&amp;ust=1531124940964000&amp;usg=AFQjCNEMj3ifB-86A6YeOOEJEkSen1I9_A">Visit our store</a>
</td>
      </tr>
    </tbody></table>


    </td>
  </tr>
</tbody></table>

            

            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>

  